@import "tailwindcss";

@theme {
  --animate-float: float linear infinite;

  @keyframes float {
    0% {
      transform: translateY(0) rotate(0deg);
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      transform: translateY(-120vh) rotate(45deg);
      opacity: 0;
    }
  }
}
